RewriteEngine On
<Files .env>
    Order allow,deny
    Deny from all
</Files>
<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>
</IfModule>

RewriteRule ^/$ /index.php [L]
RewriteRule ^Model/Login$ Model/Client/Login.php [L]
RewriteRule ^Model/SignUp$ Model/Client/SignUp.php [L]
RewriteRule ^Model/Recharge$ Model/Client/Recharge.php [L]
RewriteRule ^Model/Withdrawal$ Model/Client/Withdrawal.php [L]
RewriteRule ^Update_pass$ Model/Client/Changepasss.php [L]
RewriteRule ^Event$ Model/Client/Events.php [L]
RewriteRule ^Minigame/Whell$ Model/Client/Minigame.php?numrolllop=$1&typeRoll=$2&type=$3 [L]
RewriteRule ^Table/History_Minigame$ Model/Ajax_load/history_minigame.php [L]
RewriteRule ^Table/History_Buy$ Model/Ajax_load/history_buy.php [L]
RewriteRule ^Model/Admin/LoadTable/SelectAutoBank$ Model/Admin/LoadTable/Setting_AutoBank.php [L]
RewriteRule ^Model/Product/CreateProduct$ Model/Admin/Product/CreateProduct.php [L]
RewriteRule ^Model/Admin/UploadTag$ Model/Admin/UploadTag.php [L]
RewriteRule ^Model/Admin/AddDomain$ Model/Admin/AddShop.php [L]
RewriteRule ^Model/Admin/LoadTable/SelectShop$ Model/Admin/LoadTable/Setting.php [L]
RewriteRule ^Model/Admin/UpdateShop$ Model/Admin/UpdateShop.php [L]
RewriteRule ^Model/Admin/UpdateAllShop$ Model/Admin/UpdateAllShop.php [L]
RewriteRule ^Model/Admin/EditEvent$ Model/Admin/EditEvent.php [L]
RewriteRule ^Model/Admin/ListPR$ Model/Admin/LoadAjax/ListPR.php [L]
RewriteRule ^Model/Admin/EditPR$ Model/Admin/EditPR.php [L]
RewriteRule ^Model/Admin/UploadPR$ Model/Admin/UploadPR.php [L]
RewriteRule ^Model/Product/CreateMinigame$ Model/Admin/Product/CreateMinigame.php [L]
RewriteRule ^Model/Product/Delete$ Model/Admin/Product/DeleteProduct.php [L]
RewriteRule ^Model/Product/CreateAccountGame Model/Admin/Product/CreateAccountGame.php [L]
RewriteRule ^Model/Admin/Product/EditMiniGame$ Model/Admin/Product/Edit/EditMiniGame.php [L]
RewriteRule ^Model/Admin/Product/EditDiamondBox$ Model/Admin/Product/Edit/EditDiamondBox.php [L]
RewriteRule ^Model/Admin/Product/CreateDiamondBox$ Model/Admin/Product/CreateDiamondBox.php [L]
RewriteRule ^Model/Admin/EditUser$ Model/Admin/EditUser.php [L]
RewriteRule ^Model/Admin/ListUser$ Model/Admin/LoadAjax/ListUser.php [L]
RewriteRule ^Model/Admin/ListAccount$ Model/Admin/LoadAjax/Account/ListAccount.php [L]
RewriteRule ^Model/Admin/Account/Delete$ Model/Admin/Account/DeleteAccount.php [L]
RewriteRule ^Model/Admin/LoadAjax/SelectData$ Model/Admin/LoadAjax/Account/SelectData.php [L]
RewriteRule ^Model/Product/Account/Upload$ Model/Admin/Account/UploadData.php [L]
RewriteRule ^Model/Admin/Account/Edit$ Model/Admin/Account/EditAccount.php [L]
RewriteRule ^Model/Admin/UpdateAutoBank$ Model/Admin/UpdateAutoBank.php [L]
RewriteRule ^Model/Admin/HistoryBuy$ Model/Admin/LoadAjax/History/HistoryBuy.php [L]
RewriteRule ^Model/Admin/HistoryRecharge$ Model/Admin/LoadAjax/History/HistoryRecharge.php [L]
RewriteRule ^Model/Admin/Upload_top$ Model/Admin/Upload_top.php [L]
RewriteRule ^Model/Admin/HistoryDiamond$ Model/Admin/LoadAjax/History/HistoryDiamond.php [L]
RewriteRule ^Model/Admin/HistoryMinigame$ Model/Admin/LoadAjax/History/HistoryMinigame.php [L]
RewriteRule ^Model/Admin/HistoryLog$ Model/Admin/LoadAjax/History/HistoryLog.php [L]
RewriteRule ^Model/Admin/Account/Edit$ Model/Admin/Account/EditAccount.php [L]
RewriteRule ^Model/Admin/Product/EditAccountGame$ Model/Admin/Product/Edit/EditAccountGame.php [L]
RewriteRule ^Model/Admin/Success_OTP$ Model/Admin/send_OTP.php [L]
RewriteRule ^Model/Buy/BuyDiamondBox$ Model/Client/Buy/BuyDiamondBox.php [L]
RewriteRule ^confirm/buyacc$ Model/Client/Buy/ConfirmBuy.php [L]
RewriteRule ^user/logout$ Model/Client/LogOut.php [L]
RewriteRule ^SendOTP$ Model/Client/SendOTP.php [L]
RewriteRule ^Forgot$ Model/Client/Forgot.php [L]


RewriteRule ^user/profile$ views/profile/profile.php [L]
RewriteRule ^user/changepassword$ views/profile/changepass.php [L]
RewriteRule ^user/diamond$ views/profile/diamond.php [L]
RewriteRule ^user/recharge$ views/profile/recharge.php [L]
RewriteRule ^user/history/game$ views/history/minigame.php [L]
RewriteRule ^user/history/acc$ views/history/buy.php [L]



RewriteRule ^account/([a-zA-Z0-9_-]+)$ views/account/account.php?type=$1 [L]
RewriteRule ^random/([a-zA-Z0-9_-]+)$ views/account/random.php?type=$1 [L]
RewriteRule ^List/Account$ Model/Admin/LoadTable/Account/ListAccount.php [L]
RewriteRule ^views/account/([a-zA-Z0-9_-]+)$ views/account/views.php?id=$1 [L]
RewriteRule ^vongquay/([a-zA-Z0-9_-]+)$ views/minigame/wheel.php?type=$1 [L]
RewriteRule ^lathinh/([a-zA-Z0-9_-]+)$ views/minigame/lathinh.php?type=$1 [L]
RewriteRule ^moqua/([a-zA-Z0-9_-]+)$ views/minigame/dapheo.php?type=$1 [L]

#ADMIN
RewriteRule ^Cpanel$ Cpanel/index.php [L]
RewriteRule ^Cpanel/Product/CreateAccountGame$ Cpanel/Public/Views/Product/CreateAccountGame.php [L]
RewriteRule ^Cpanel/Product/CreateProduct$ Cpanel/Public/Views/Product/CreateProduct.php [L]
RewriteRule ^Cpanel/Product$ Cpanel/Public/Views/Product/ListProduct.php [L]
RewriteRule ^Cpanel/ProductTag$ Cpanel/Public/Views/ProductTag.php [L]
RewriteRule ^Cpanel/Setting$ Cpanel/Public/Views/Setting.php [L]
RewriteRule ^Cpanel/Setting_AutoBank$ Cpanel/Public/Views/Setting_AutoBank.php [L]
RewriteRule ^Cpanel/Setting/Events$ Cpanel/Public/Views/Events.php [L]
RewriteRule ^Cpanel/ListPR$ Cpanel/Public/Views/ListPR.php [L]
RewriteRule ^Cpanel/Product/CreateMinigame$ Cpanel/Public/Views/Product/CreateMinigame.php [L]
RewriteRule ^Cpanel/Product/CreateDiamondBox$ Cpanel/Public/Views/Product/CreateDiamondBox.php [L]
RewriteRule ^Cpanel/Product/List$ Cpanel/Public/Views/Product/ListProduct.php [L]
RewriteRule ^Cpanel/Product/EditMinigame/([0-9]+)$ Cpanel/Public/Views/Product/Edit/EditMinigame.php?id=$1 [L]
RewriteRule ^Cpanel/Product/EditDiamondBox/([0-9]+)$ Cpanel/Public/Views/Product/Edit/EditDiamondBox.php?id=$1 [L]
RewriteRule ^Cpanel/ListUser$ Cpanel/Public/Views/ListUser.php [L]
RewriteRule ^Cpanel/Account/ListAccount$ Cpanel/Public/Views/Account/ListAccount.php [L]
RewriteRule ^Cpanel/Account/Edit/([0-9]+)$ Cpanel/Public/Views/Account/EditAccount.php?id=$1 [L]

RewriteRule ^Cpanel/History/Buy$ Cpanel/Public/Views/History/HistoryBuy.php [L]
RewriteRule ^Cpanel/History/Recharge$ Cpanel/Public/Views/History/HistoryRecharge.php [L]
RewriteRule ^Cpanel/History/Diamond$ Cpanel/Public/Views/History/HistoryDiamond.php [L]
RewriteRule ^Cpanel/History/Minigame$ Cpanel/Public/Views/History/HistoryMinigame.php [L]
RewriteRule ^Cpanel/History/Log$ Cpanel/Public/Views/History/HistoryLog.php [L]
RewriteRule ^Cpanel/Product/EditAccountGame/([0-9]+)$ Cpanel/Public/Views/Product/Edit/EditAccountGame.php?id=$1 [L]
RewriteRule ^Logout$ /index.php [L]